@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.category-tabs,
.filter-buttons {
  display: flex;
  gap: 10px;
}

.category-tabs button.active,
.filter-buttons button.active {
  background-color: #0073e6;
  color: white;
}

.course-list {
  display: flex;
  gap: 20px;
}

.course-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

.course-card img {
  width: 100%;
  height: auto;
}

.course-info {
  margin-top: 10px;
}

.course-label {
  background-color: gold;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
